.spinner-container {
    position: absolute;
    top: 0;
    bottom: -10rem;
    left: 0;
    right: 0;
    background-color: #ffffffe5;
    z-index: 2000;
    text-align: center;

    .spinner-text {
        display: inline-block;
        position: fixed;
        top: 20vh;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-weight: 550;
        font-size: 1.125rem;
        letter-spacing: 0.5px;
    }

    .spinner {
        display: inline-block;
        position: fixed;
        top: 28vh;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 5rem;
        height: 5rem;
        border: 0.75rem solid #0054d125;
        border-radius: 50%;
        border-top-color: #0054d1;
        animation: spin 0.875s linear infinite;
        -webkit-animation: spin 0.875s linear infinite;
        
        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }

        @-webkit-keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
            }
        }
    }
}